/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/
@media (min-width: 1366px) and (max-width: 1920px) {
	

}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/
@media (min-width:1200px) {
  
}


/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {



}

/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {






}
/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/
@media (max-width: 767px) {
  .slider {
    height: 360px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Screen-header .slider {
    height: 10.4vw;
}



}

/* -------------------------------------------------
  Large Mobile 
---------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {



}

